<div class="row">	
	<div class = "col-md-6 col-md-offset-3 bg-info" style="border: 1px solid black;">
		<h1>Simple file manager</h1>
		<%= react_component 'Elements', { data: @elements } %>
	</div>
</div>
